@theme "material"

configuration {
  modes: "window,drun,run,ssh,combi,keys,filebrowser,recursivebrowser";
  display-drun: "Apps";
  display-window: "Windows";
  display-combi: "Search";
  show-icons: false;
  icon-theme: "Papirus";
  drun-display-format: "{name}";
}
