// @theme "DarkBlue"

@theme "material"

configuration {
    display-drun: "Apps";
    display-window: "Windows";
    display-combi: "Search";
    show-icons: false;
    icon-theme: "Papirus";
    drun-display-format: "{name}";
}
