@import "colors.css";

* {
  min-height: 0;
  min-width: 0;
  font-family: Lexend, "JetBrainsMono NFP";
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: @background;
}

#workspaces button {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @surface_container;
  color: @on_surface;
}

#workspaces button:hover {
  color: @on_primary;
  background-color: @primary;
}

#workspaces button.active {
  background-color: @primary_container;
  color: @on_primary_container;
}

#workspaces button.urgent {
  background-color: @error_container;
  color: @on_error_container;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-power,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#battery,
#window,
#mpris {
  padding: 0.3rem 0.6rem;
  margin: 0.4rem 0.25rem;
  border-radius: 6px;
  background-color: @surface_container;
  color: @on_surface;
}

#mpris.playing {
  color: @primary;
}

#mpris.paused {
  color: @on_surface_variant;
}

#custom-sep {
  padding: 0px;
  color: @outline;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: @tertiary;
}

#memory {
  color: @secondary;
}

#clock {
  color: @primary;
}

#temperature {
  color: @tertiary_fixed_dim;
}

#clock.simpleclock {
  color: @primary_fixed_dim;
}

#battery {
  color: @secondary_fixed_dim;
}

#window {
  color: @on_surface;
}

#pulseaudio {
  color: @primary_fixed_dim;
}

#pulseaudio.muted {
  color: @outline;
}

#custom-logo {
  color: @primary;
}

#custom-power {
  color: @error;
}

tooltip {
  background-color: @surface_container_high;
  border: 2px solid @primary;
  color: @on_surface;
}
